/vendor/
/generated/
/setup/
/var/
/pub/static/
/pub/media/catalog/product/cache/
/pub/media/tmp/
/pub/media/
/pub/media/customer/
/app/etc/env.php
/app/etc/config.php
/.idea/
/node_modules/
/dev/
/lib/
/pub/
