<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_TrackingImport::import"
             title="Tracking Import"
             module="Custom_TrackingImport"
             parent="Magento_Sales::sales_operation"
             action="trackingimport/import/index"
             sortOrder="90"
             resource="Custom_TrackingImport::import"/>

    </menu>
</config>
